.li
{
    margin-left: 30%;
    display: inline;
}
.d1
{
    background-color: coral;
    text-align: center;
    padding: 5px 10px 5px 10px;
    
}
.container #numb
{
    width: 75%;
}
.container #bt0{
    width: 25%;
    text-align: center;
}
.container #bt0:hover{
    background-color: chartreuse;
}
#d2{
    text-align: center;
}